codigo-fonte-backend/src/main/resources/xml/bpe/grupo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.portalfiscal.inf.br/bpe"
    targetNamespace="http://www.portalfiscal.inf.br/bpe"
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified">
    <xs:include schemaLocation="./originais/bpeTiposBasico_v1.00.xsd" />
    <xs:element name="infBPe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="imp">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IBSCBS" type="TTribBPe" minOccurs="0">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>