codigo-fonte-backend/src/main/resources/xml/nf3e/grupo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	targetNamespace="http://www.portalfiscal.inf.br/nf3e" 
	xmlns="http://www.portalfiscal.inf.br/nf3e">
	
	<xs:include schemaLocation="./originais/nf3eTiposBasico_v1.00.xsd" />

	<xs:element name="infNF3e">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NFdet" maxOccurs="13">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="det" maxOccurs="990">
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="detItem">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="imposto">
															<xs:complexType>
																<xs:complexContent>
																	<xs:extension base="TImp">
																		<xs:sequence>
																			<xs:element name="IBSCBS" type="TTribNF3e" minOccurs="0">
																			</xs:element>
																		</xs:sequence>
																	</xs:extension>
																</xs:complexContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:sequence>
									<xs:attribute name="nItem" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="preserve" />
												<xs:pattern
													value="[1-9]{1}[0-9]{0,1}|[1-8]{1}[0-9]{2}|[9]{1}[0-8]{1}[0-9]{1}|[9]{1}[9]{1}[0]{1}" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="total">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IBSCBSTot" type="TIBSCBSTot" minOccurs="0">
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>